@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  
}

body {
  background-color: rgb(63, 69, 104);
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  margin-left: 150px;
  min-height: 100vh;
}

h1 {
  margin: 2rem;
}

.bfslabel{
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(8, 1fr);
  background: none;
  color: rgb(255, 255, 255);
  width: 500px;
  height: 125px;
  position:relative; 
  margin-left: 30px;
  left:540px; 
  top:-540px;
  border-style: dashed;
  border-color: #000000;
  border-width: 4px;
}

.wfslabel{
  display: grid;
  background: none;
  grid-template: repeat(2, 1fr)/repeat(8, 1fr);
  width: 500px;
  height: 125px;
  position:relative; 
  margin-left: 30px;
  left:540px; 
  top:-540px;
  border-style: dashed;
  border-color: #ffffff;
  border-width: 4px;
}

.whitelabel{
  display: flex;
  background-color: rgb(255, 254, 254);
  color: black;
  width: 500px;
  height: 92px;
  position:relative; 
  left:540px; 
  top:-540px;
  align-items: center;
  justify-content: center;
  border-style: dashed;
  border-color: rgb(94, 90, 86);
  border-width: 4px;
  margin-left: 30px;
}

label{
  display: block;
  position:relative; 
  left:540px; 
  top:-540px;
  width: 500px;
  margin-top: 30px;
  text-align: center;
}

.blacklabel{
  display: flex;
  background-color: rgb(0, 0, 0);
  width: 500px;
  height: 92px;
  position:relative; 
  left:540px; 
  top:-540px;
  align-items: center;
  justify-content: center;
  border-style: dashed;
  border-color: rgb(94, 90, 86);
  border-width: 4px;
  margin-left: 30px;
}

.board {
  background: #000000;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  border-style: inset;
  border-color:  rgb(143, 114, 61);
  border-width: 20px;
  

}

button {
  border: none;
  text-align: center;
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(63, 69, 104);
  background-size:62.5px 62.5px;
}

.square {
  background: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
}


/* PAWN FORMATTING */
.black[piece='pawn'][pieceColor='dark'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c7/Chess_pdt45.svg");
}
.green[piece='pawn'][pieceColor='dark'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c7/Chess_pdt45.svg");
}
.yellow[piece='pawn'][pieceColor='dark'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c7/Chess_pdt45.svg");
}
.green[piece='pawn'][pieceColor='light'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg");
}
.black[piece='pawn'][pieceColor='light'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg");
}
.yellow[piece='pawn'][pieceColor='light'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg");
}
.fallen[piece='pawn'][pieceColor='dark'] {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c7/Chess_pdt45.svg");
}
.fallen[piece='pawn'][pieceColor='light'] {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg");
}

/* ROOK FORMATTING */
.black[piece='rook'][pieceColor='dark'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/ff/Chess_rdt45.svg");
}
.green[piece='rook'][pieceColor='dark'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/ff/Chess_rdt45.svg");
}
.yellow[piece='rook'][pieceColor='dark'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/ff/Chess_rdt45.svg");
}
.green[piece='rook'][pieceColor='light'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/72/Chess_rlt45.svg");
}
.black[piece='rook'][pieceColor='light'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/72/Chess_rlt45.svg");
}
.yellow[piece='rook'][pieceColor='light'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/72/Chess_rlt45.svg");
}
.fallen[piece='rook'][pieceColor='dark'] {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/ff/Chess_rdt45.svg");
}
.fallen[piece='rook'][pieceColor='light'] {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/72/Chess_rlt45.svg");
}

/* BISHOP FORMATTING */
.black[piece='bishop'][pieceColor='dark'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/98/Chess_bdt45.svg");
}
.green[piece='bishop'][pieceColor='dark'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/98/Chess_bdt45.svg");
}
.yellow[piece='bishop'][pieceColor='dark'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/98/Chess_bdt45.svg");
}
.green[piece='bishop'][pieceColor='light'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Chess_blt45.svg");
}
.black[piece='bishop'][pieceColor='light'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Chess_blt45.svg");
}
.yellow[piece='bishop'][pieceColor='light'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Chess_blt45.svg");
}
.fallen[piece='bishop'][pieceColor='dark'] {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/98/Chess_bdt45.svg");
}
.fallen[piece='bishop'][pieceColor='light'] {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Chess_blt45.svg");
}

/* KNIGHT FORMATTING */
.black[piece='knight'][pieceColor='dark'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ef/Chess_ndt45.svg");
}
.green[piece='knight'][pieceColor='dark'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ef/Chess_ndt45.svg");
}
.yellow[piece='knight'][pieceColor='dark'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ef/Chess_ndt45.svg");
}
.green[piece='knight'][pieceColor='light'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/70/Chess_nlt45.svg");
}
.black[piece='knight'][pieceColor='light'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/70/Chess_nlt45.svg");
}
.yellow[piece='knight'][pieceColor='light'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/70/Chess_nlt45.svg");
}
.fallen[piece='knight'][pieceColor='dark'] {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ef/Chess_ndt45.svg");
}
.fallen[piece='knight'][pieceColor='light'] {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/70/Chess_nlt45.svg");
}

/* KING FORMATTING */
.black[piece='king'][pieceColor='dark'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f0/Chess_kdt45.svg");
}
.green[piece='king'][pieceColor='dark'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f0/Chess_kdt45.svg");
}
.yellow[piece='king'][pieceColor='dark'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f0/Chess_kdt45.svg");
}
.green[piece='king'][pieceColor='light'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/42/Chess_klt45.svg");
}
.black[piece='king'][pieceColor='light'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/42/Chess_klt45.svg");
}
.yellow[piece='king'][pieceColor='light'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/42/Chess_klt45.svg");
}
.fallen[piece='king'][pieceColor='dark'] {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f0/Chess_kdt45.svg");
}
.fallen[piece='king'][pieceColor='light'] {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/42/Chess_klt45.svg");
}

/* QUEEN FORMATTING */
.black[piece='queen'][pieceColor='dark'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/47/Chess_qdt45.svg");
}
.green[piece='queen'][pieceColor='dark'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/47/Chess_qdt45.svg");
}
.yellow[piece='queen'][pieceColor='dark'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/47/Chess_qdt45.svg");
}
.green[piece='queen'][pieceColor='light'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/15/Chess_qlt45.svg");
}
.black[piece='queen'][pieceColor='light'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/15/Chess_qlt45.svg");
}
.yellow[piece='queen'][pieceColor='light'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/15/Chess_qlt45.svg");
}
.fallen[piece='queen'][pieceColor='dark'] {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/47/Chess_qdt45.svg");
}
.fallen[piece='queen'][pieceColor='light'] {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/15/Chess_qlt45.svg");
}

.black {
  background-color: dimgray;
}
.green {
  background-color: rgb(22, 80, 48);
}
.yellow {
  background-color: rgb(223, 212, 116);
}