@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  
}

body {
  background-color: rgb(63, 69, 104);
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
  
}

h1 {
  margin: 2rem;
}

.bfslabel{
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(8, 1fr);
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  width: 500px;
  height: 125px;
  border-style: solid;
  border-color: rgb(94, 90, 86);
  border-width: 20px;
}

.wfslabel{
  display: grid;
  background-color: rgb(0, 0, 0);
  grid-template: repeat(2, 1fr)/repeat(8, 1fr);
  width: 500px;
  height: 125px;
  border-style: solid;
  border-color: rgb(94, 90, 86);
  border-width: 20px;
}

.board {
  background: #000000;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  border-style: inset;
  border-color:  rgb(143, 114, 61);
  border-width: 20px;

}

button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.square {
  background: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
}


/* PAWN FORMATTING */
.black[piece='pawn'][pieceColor='dark'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c7/Chess_pdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:62.5px 62.5px;
  color: rgb(0, 0, 0);
}
.green[piece='pawn'][pieceColor='dark'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c7/Chess_pdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(0, 0, 0);
}
.yellow[piece='pawn'][pieceColor='dark'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c7/Chess_pdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
}
.green[piece='pawn'][pieceColor='light'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(255, 255, 255);
}
.black[piece='pawn'][pieceColor='light'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(255, 255, 255);
}
.yellow[piece='pawn'][pieceColor='light'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/45/Chess_plt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
}

/* ROOK FORMATTING */
.black[piece='rook'][pieceColor='dark'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/ff/Chess_rdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(0, 0, 0);
}
.green[piece='rook'][pieceColor='dark'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/ff/Chess_rdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(0, 0, 0);
}
.yellow[piece='rook'][pieceColor='dark'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/ff/Chess_rdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
}
.green[piece='rook'][pieceColor='light'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/72/Chess_rlt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(255, 255, 255);
}
.black[piece='rook'][pieceColor='light'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/72/Chess_rlt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(255, 255, 255);
}
.yellow[piece='rook'][pieceColor='light'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/72/Chess_rlt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
}

/* BISHOP FORMATTING */
.black[piece='bishop'][pieceColor='dark'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/98/Chess_bdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(0, 0, 0);
}
.green[piece='bishop'][pieceColor='dark'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/98/Chess_bdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(0, 0, 0);
}
.yellow[piece='bishop'][pieceColor='dark'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/98/Chess_bdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
}
.green[piece='bishop'][pieceColor='light'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Chess_blt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(255, 255, 255);
}
.black[piece='bishop'][pieceColor='light'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Chess_blt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(255, 255, 255);
}
.yellow[piece='bishop'][pieceColor='light'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Chess_blt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
}

/* KNIGHT FORMATTING */
.black[piece='knight'][pieceColor='dark'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ef/Chess_ndt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(0, 0, 0);
}
.green[piece='knight'][pieceColor='dark'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ef/Chess_ndt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(0, 0, 0);
}
.yellow[piece='knight'][pieceColor='dark'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ef/Chess_ndt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
}
.green[piece='knight'][pieceColor='light'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/70/Chess_nlt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(255, 255, 255);
}
.black[piece='knight'][pieceColor='light'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/70/Chess_nlt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(255, 255, 255);
}
.yellow[piece='knight'][pieceColor='light'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/70/Chess_nlt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
}

/* KING FORMATTING */
.black[piece='king'][pieceColor='dark'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f0/Chess_kdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(0, 0, 0);
}
.green[piece='king'][pieceColor='dark'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f0/Chess_kdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(0, 0, 0);
}
.yellow[piece='king'][pieceColor='dark'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/f0/Chess_kdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
}
.green[piece='king'][pieceColor='light'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/42/Chess_klt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(255, 255, 255);
}
.black[piece='king'][pieceColor='light'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/42/Chess_klt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(255, 255, 255);
}
.yellow[piece='king'][pieceColor='light'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/42/Chess_klt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
}

/* QUEEN FORMATTING */
.black[piece='queen'][pieceColor='dark'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/47/Chess_qdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(0, 0, 0);
}
.green[piece='queen'][pieceColor='dark'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/47/Chess_qdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(0, 0, 0);
}
.yellow[piece='queen'][pieceColor='dark'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/47/Chess_qdt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
}
.green[piece='queen'][pieceColor='light'] {
  background-color: rgb(22, 80, 48);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/15/Chess_qlt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(255, 255, 255);
}
.black[piece='queen'][pieceColor='light'] {
  background-color: dimgray;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/15/Chess_qlt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
  color: rgb(255, 255, 255);
}
.yellow[piece='queen'][pieceColor='light'] {
  background-color: rgb(223, 212, 116);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/15/Chess_qlt45.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 62.5px 62.5px;
}

.black {
  background-color: dimgray;
}


.green {
  background-color: rgb(22, 80, 48);
}
.whitelabel{
  background-color: white;
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  font-size: x-large;
  display: flex;
  width: 534px;
  height: 100px;
  border-style: inset;
  border-color: antiquewhite;
  border-width: 3px;
  
}
.blacklabel{
  background-color: #000000;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  font-size: x-large;
  display: flex;
  width: 534px;
  height: 100px;
  border-style: inset;
  border-color: antiquewhite;
  border-width: 3px;
}

.yellow {
  background-color: rgb(223, 212, 116);
}


.info-wrapper {
  display: flex;
 
}

h3 {
  padding: 1rem;
}

li {
  list-style: none;
}

.info-wrapper button {
  background: #272727;
  color: rgb(68, 44, 44);
  border: none;
  outline: none;
  cursor: pointer;
  
}
