@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  
}

body {
  background-color: rgb(63, 69, 104);
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
  
}

h1 {
  margin: 2rem;
}

.bfsplabel{
  display: grid;
  grid-template: repeat(8, 1fr)/1;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  justify-content: left;
  align-items: center;
  width: 534px;
  height: 40px;
  border-style: solid;
  border-color: rgb(94, 90, 86);
  border-width: 3px;
}

.wfslabel{
  display: grid;
  grid-template: repeat(8, 1fr)/1;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  justify-content: left;
  align-items: center;
  width: 534px;
  height: 40px;
  border-style: solid;
  border-color: rgb(94, 90, 86);
  border-width: 3px;
}

.board {
  background: #000000;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  border-style: inset;
  border-color:  rgb(143, 114, 61);
  border-width: 20px;

}

button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.square {
  background: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
}



.black[src='dark'] {
  background-color: dimgray;
  color: rgb(0, 0, 0);
}

.green[src='light'] {
  background-color: rgb(22, 80, 48);
  color: rgb(255, 255, 255);
}

.black[src='light'] {
  background-color: dimgray;
  color: rgb(255, 255, 255);
}

.green[src='dark'] {
  background-color: rgb(22, 80, 48);
  color: rgb(0, 0, 0);
}

.black {
  background-color: dimgray;
}

.green {
  background-color: rgb(22, 80, 48);
}
.whitelabel{
  background-color: white;
  color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  font-size: x-large;
  display: flex;
  width: 534px;
  height: 100px;
  border-style: inset;
  border-color: antiquewhite;
  border-width: 3px;
  
}
.blacklabel{
  background-color: #000000;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  font-size: x-large;
  display: flex;
  width: 534px;
  height: 100px;
  border-style: inset;
  border-color: antiquewhite;
  border-width: 3px;
}

.yellow {
  background-color: rgb(223, 212, 116);
}


.info-wrapper {
  display: flex;
 
}

h3 {
  padding: 1rem;
}

li {
  list-style: none;
}

.info-wrapper button {
  background: #272727;
  color: rgb(68, 44, 44);
  border: none;
  outline: none;
  cursor: pointer;
  
}
